
*{
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
}
body{
  background-color: black;
  max-height: 50vh;
}
.container{
  display: flex;
  margin: 2px;
  
}
.left{
  width:25vw;
}
.right{
  width:75vw;
  margin: 9px;
  background-color: rgba(42, 42, 42, 0.596);
  min-height: 98vh;
  margin-bottom: 10px;
}

.home{
  margin: 10px;
  padding: 25px;
}
.c-grey{
  color: rgb(177, 177, 177);
}
.home ul li{
  list-style: none;
  width: 28px;
  display: flex;
  margin-top: 15px;
  padding: 2px;
  gap: 20px;
  font-size: 15px;
  color: white;
  align-items: center;
  font-weight: bold;
}
.bg-black{
  background-color: black;
  color: white;
}
.invert{
  filter: invert(1);
}
.bg-grey{
  background-color: rgba(36, 36, 36, 0.562);
}
.b-radius{
  border-radius:10px ;
}
.library{
  min-height: 60vh;
  margin: 10px;
  padding: 5px;
  overflow-y: scroll;
}
.heading{
  display: flex;
  margin-top: 0px;
  padding: 20px;
  gap: 15px;
  font-size: 10px;
  color: white;
  align-items: center;
  font-weight: bold;
}
.heading img{
  width: 25px;
}
.footer{
  font-size: 12px;
  align-items: center;
}
.footer a{
  color: grey;
  text-decoration: none;
}
.header{
  display: flex;
  justify-content: space-between;
  margin: 22px;
}
.nav svg{
  background-color: rgba(44, 44, 43, 0.126);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin: 3px;
  
}
.nav2{
  display: flex;
  gap: 35px;
}
.nav2 h3{
  color: grey;
  font-size: 15px;
  margin-top: 10px;
}
.nav2 h3:hover{
  font-weight:800;
  color: aliceblue;
}
.nav2 button{
  font-size: 14px;
  height: 45px;
  width: 95px;
  border-radius: 30px;
  border-style: none;
  font-weight:600;
}
.nav2 button:hover{
  font-weight:900;
  padding: 10px;
}

.spotifyPlaylists{
  background-color: rgba(37, 37, 37, 0.29);
  max-height: 75vh;
  overflow-y: scroll;
}
h1{
  font-size: 20px;
  color: white;
  margin: 10px;
  font-weight: bolder;
  padding: 8px;
  margin-top: 8px;
}
.cards{
  display: flex;
  margin-left: 10px;
  flex-wrap: wrap;
  gap: 10px;
 
}
.card-design{
  height: 32vh;
  width: 16vh;
  margin: 10px;
  background-color: rgba(18, 18, 18, 0.929);
  border-radius: 7px;
}
.card-design:hover{
  background-color: rgba(58, 58, 58, 0.274);
}

.card1{
  padding: 18px;
}
.card1 img{
  height: 120px;
  width: 119px;
  background-size: cover;
  border-radius: 8px;
}
.card1 h2{
  font-size: 15px;
  color: white;
  margin-top: 10px;
}

.card1 p{
  font-size: 12px;
  color: white;
  margin-top: 10px;
}
.playbar{
  background-color: rgb(101, 103, 104);
  padding: 10px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 72%;
  position: absolute;
}
.songbuttons img{
  align-items: center;
  justify-content: center;
}
